body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 98vh;
    background-color: whitesmoke;
    margin: 15px;
}

header {
    display: flex;
    border: 1px solid black;
    height: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    
}

main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 3fr 1fr; */
    grid-template-rows: 100px 1fr 100px;
    border: 1px solid black;
    background-color: gray;
    flex: 1;
    grid-template-areas: 
        "radio radio info"
        "portal portal portal"
        "controls flashlight game";
}

.radio{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    display: flex;
    grid-area: radio;
    outline: 1px solid black;
    background-color: navajowhite;
}

.info{
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: info;
    background-color: navajowhite;
    
}

#game-portal {
    display: flex;
    outline: 1px solid black;
    z-index: 0;
    background-image: url("/Resources/floor.png");
    background-repeat: repeat;
    background-color: burlywood;
    /* grid-row: 2 / 3;
    grid-column: 1 / 4; */
    grid-area: portal;
}

#game-view{
    /* border: 1px solid black; */
    position: absolute;
    object-fit: contain;
    z-index: 1;
    /* background-color: aqua; */
}

div.controls{
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    grid-area: controls;
    background-color: saddlebrown;
    justify-content: space-around;
    align-items: center;
}

div.flashlight{
    display: flex;
    outline: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    /* grid-row-start: 3;
    grid-column-start: 2; */
    grid-area: flashlight;
    background-color: saddlebrown;

}

button{
    cursor: pointer;
    border-radius: 12px;
    background-color: antiquewhite;
}

button.movement{
    /* display: inline-block; */
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

button#right{
    order: 4;
}

button#up{
    align-self: flex-start;
}

button#down{
    align-self: flex-end;
}

#flashlight-pic{
    max-width: 100px;
}

#coin-slot{
    max-width: 100px;
}

div.game-controls{
    display: flex;
    outline: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    /* grid-row-start: 3;
    grid-column-start: 3; */
    grid-area: game;
    background-color: darkred;
}

footer {
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    
}
