body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 95vh;
    background-color: whitesmoke;
    margin: 15px;
}

header {
    border: 1px solid black;
    height: 50px;
    
}

main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 3fr 1fr; */
    grid-template-rows: 100px 1fr 100px;
    border: 1px solid black;
    flex: 1;
    grid-template-areas: 
        "radio radio info"
        "portal portal portal"
        "controls flashlight game";
}

.radio{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    display: flex;
    grid-area: radio;
    justify-content: center;
    outline: 1px solid black;
}

.info{
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    grid-area: info;
    
}

#game-portal {
    display: flex;
    outline: 1px solid black;
    /* grid-row: 2 / 3;
    grid-column: 1 / 4; */
    grid-area: portal;
}

#game-view{
    /* border: 1px solid black; */
    position: absolute;
    object-fit: contain;
    z-index: 2;
    background-color: burlywood
}

div.controls{
    display: flex;
    outline: 1px solid black;
    /* grid-row-start: 3;
    grid-column-start: 1; */
    grid-area: controls;
}
div.flashlight{
    display: flex;
    outline: 1px solid black;
    /* grid-row-start: 3;
    grid-column-start: 2; */
    grid-area: flashlight;
}
div.game-controls{
    display: flex;
    outline: 1px solid black;
    /* grid-row-start: 3;
    grid-column-start: 3; */
    grid-area: game
}
footer {
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid black;
    flex-direction: row;
    
}

